.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.navigation__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}