.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.card-img-top{
    height: 180px;
    object-fit: cover;
}
.btn__wraper{
    display: flex;
    gap: 50px;
}